fastapi
uvicorn[standard]
python-multipart
httpx
requests

python-dotenv

pydantic
email-validator

langchain
langchain-openai
langchain-community
langchain-tavily
langgraph
langgraph-checkpoint-mongodb

openai
tiktoken

pymongo[srv]
pinecone

python-docx
pypdf

tavily-python

pytest
pytest-asyncio
