fastapi
uvicorn[standard]
python-multipart
httpx
requests

python-dotenv

pydantic
email-validator

langchain
langchain-openai
langchain-community
langchain-tavily
langgraph
langgraph-checkpoint-mongodb

openai
tiktoken

pymongo[srv]
pinecone

python-docx
pypdf

google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

tavily-python

pytest
pytest-asyncio
